<div class="container-lg d-flex flex-column">
  <%@tracks.each do |track| %>
    <div class="border p-4 d-flex flex-column">
      <p><%=track.title%></p>
      <%if track.cover_image.attached?%>
        <%= image_tag track.cover_image %>
      <%end%>
    </div>
  <%end%>
</div>