<div class="container-lg d-flex flex-column flex-justify-start">
  <div class="mt-3 mb-1">
    <h1 class="h3-mktg h-branded-font mb-2">Custom Track</h1>
    <p class="f3-mktg">
      Click on the toggle option to select the kind of player you would like to add to your site.
    </p>
    <hr width="100px"> 
  </div>

  <%=render "form", method: "patch", url: track_path(@track) %>
  <hr width="100px">     
  <%if @track.full_audio.attached? && @track.cover_image.attached? %>
    <div class="pb-10  d-flex flex-column flex-justify-start">
      <h6 class="h6-mktg h-branded-font mb-5">Current Track Player Preview</h6>  
      <div class="h-border-radius color-shadow-large p-2">
        <%= render(AudioPlayer::AudioPlayerComponent.new(tracks: [@track]))%>
      </div>
    </div>
  <%end%>
</div>