<div class="Hero-Component">
  <div class="pl-5 pt-5">
    <h1 class="h0-mktg h-branded-font">Boost sales</h1>
    <h1 class="h0-mktg h-branded-font">with  your sounds</h1>
    <div class="f1-mktg  pt-5">
      Play your creations on your square site
    </div>
    <div class="f1-mktg">
      with a personalized audio player.
    </div>
    <div class="pl-3 pt-5 Hero-Component__cta-container ">
      <p>
        <a  href="/auth/square" class="btn-mktg btn-enterprise-mktg" type="button">Sign Up with Square</a>
        <span>Free for Square Sites !</span>
      </p>
    </div>
  </div>
  <div class="p-0 m-0 h-w-100 h-fixed-bottom">
    <%= render 'players/iframe' %>
  </div>
</div>