<div class="p-5">
<div class="Layout">
  <div class="Layout-main border">
    <div class="Layout-main-centered-md">
      <div class="container-md border color-border-info">
        centered md
      </div>
    </div>
  </div>
  <div class="Layout-sidebar border">sidebar</div>
</div>
<div class="Layout">
  <div class="Layout-main border">
    <div class="Layout-main-centered-lg">
      <div class="container-lg border color-border-info">
        centered lg
      </div>
    </div>
  </div>
  <div class="Layout-sidebar border">sidebar</div>
</div>
<div class="Layout">
  <div class="Layout-main border">
    <div class="Layout-main-centered-xl">
      <div class="container-xl border color-border-info">
      <%=link_to "Profile", tracks_path%>
      </div>
    </div>
  </div>
  <div class="Layout-sidebar border">
  <div class="Box">
    <a class='button' href="/auth/square"> Connect </a>
  </div>
  </div>
</div>
</div>