<script>
document.addEventListener("DOMContentLoaded", ready);
function ready() {
  console.log('ready')
  document.querySelector("#id-checkbox").addEventListener("click",
    function(event) {
      console.log('clickity')
      event.preventDefault();
      window.location.href = '/product/digital-album/1'
    }
  , false);
}
</script>
<div 
style='
  position: fixed  ;
  z-index: 100;
  width: 100vw;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
'
  >
  <div
  style="display:flex;flex-direction:column;"
  >
  
  <a id="id-checkbox" href="">testing here</a>
  <audio controls>
  
    <source src=<%=@track.full_audio.url%> type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  </div>
</div>