<div class="Hero-Header">
  <div class="mt-3 mb-1">
    <h1 class="h3-mktg h-branded-font mb-2">Link Square Player</h1>
    <p class="f3-mktg">
      Click on the toggle option to select the kind of player you would like to add to your site.
    </p>
    <hr width="100px"> 
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Example player for testing
    </h5>
    <div class="h-border-radius color-shadow-large mt-5">
      <%= render(AudioPlayer::AudioPlayerComponent.new(tracks: @tracks))%>
    </div>
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Square Sites to add 
    </h5>
  </div>
</div>



<% if @snippet %> 
  <div class='Box mt-10'>
    <%= button_to "Remove Custom Cursor", player_path(@snippet.site_id), :class => 'remove-cursor', :method => :delete %>
  </div>
<% else %>
  <div class='Box mt-10'>
  <%= link_to "Add Player", player_path(@sites.last.id),
  method: :create %>
  </div>
<% end %>
