<div class="Hero-Header pb-10">
  <div class="mt-3 mb-1">
    <h1 class="h3-mktg h-branded-font mb-2">Link Square Player</h1>
    <p class="f3-mktg">
      Below you will find previews for both your custom player and a sample player for testing purposes. Add either one to your site by using the toggle select and then clicking on the "Add Player" button.
    </p>
    <hr width="100px"> 
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Preview Your Custom Player
    </h5>
    <div class="h-border-radius color-shadow-large mt-5">
      <%= render(AudioPlayer::AudioPlayerComponent.new(tracks: @tracks))%>
    </div>
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Sample Player For Testing
    </h5>
    <div class="h-border-radius color-shadow-large mt-5">
      <%= render(AudioPlayer::AudioPlayerComponent.new(tracks: @custom_tracks))%>
    </div>
  </div>
  <div class="h-Content-Container mt-5">
    <h5 class="h6-mktg">
      Add Player to Your Square Sites
    </h5>
  </div>
  <div class="mt-5">
    <% @sites.each do |site| %>
        <% if site[:snippet] %> 
          <%=render "remove_player_form", site: site, custom_player_id:  @custom_tracks.first.player_id, sample_player_id: @tracks.first.player_id %>
        <% else %>
          <%=render "new_player_form", site: site, custom_player_id:  @custom_tracks.first.player_id, sample_player_id: @tracks.first.player_id %>
        <% end %>
    <% end %>
  </div>
</div>