<%= render(Primer::SubheadComponent.new(spacious: true, p: 4)) do |component| %>
  <% component.heading(tag: :h3) do %>
    Sample Music
  <% end %>
  <% component.description do %>
    Here are your tunes
  <% end %>
<% end %>

<%= render(AudioPlayer::AudioPlayerComponent.new(tracks: @tracks))%>


<% if @snippet %> 
  <div class='Box'>
    <%= button_to "Remove Custom Cursor", player_path(@snippet.site_id), :class => 'remove-cursor', :method => :delete %>
  </div>
<% else %>
  <div class='Box'>
  <%= link_to "Add Player", player_path(@sites.last.id),
  method: :create %>
  </div>

  <% end %>

<!--

# https://flaviocopes.com/html-audio-tag/
# https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Cross-browser_audio_basics
# https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement
# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio
# https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Video_and_audio_content
https://letsbuildui.dev/articles/building-an-audio-player-with-react-hooks

https://www.geeksforgeeks.org/create-a-music-player-using-javascript/
https://ide.geeksforgeeks.org/tryit.php/T3gdWUn4aX
http://talkerscode.com/webtricks/create-custom-audio-player-using-html5-and-javascript.php


-->