<div class="c-audio-player" data-controller="audio-player--audio-player" 
data-audio-player--audio-player-isPlaying-value="false"
data-audio-player--audio-player-index-value="0"
data-audio-player--audio-player-tracks-value="<%=@tracks %>"
>
  <div class="c-audio-player__controls"
  data-audio-player--audio-player
  
  >
    <div class="c-audio-player__visuals">
      <div class="c-audio-player__visuals-frame h-spin">
        <%= image_tag(url_for(@track.cover_image), width: "60px", height: "60px")%> 
      </div>
    </div>
    <div class="c-audio-player__buttons">
      <button 
       data-audio-player--audio-player-target="menu"
       data-action="click->audio-player--audio-player#menu"
       >details</button>
      <button 
       data-audio-player--audio-player-target="play"
       data-action="click->audio-player--audio-player#playPauseTrack"
      >play</button>
    </div>
  </div>
  <div class="c-audio-player__display"
  >
    <h3 data-audio-player--audio-player-target="title"></h3>
    <h5 data-audio-player--audio-player-target="artist"></h5>
  </div>
  <div class="c-audio-player__cta">
    <a data-audio-player--audio-player-target="link" href="" type="button"></a>
  </div>
</div>

