<div class="c-audio-player" data-controller="audio-player--audio-player" 
data-audio-player--audio-player-isPlaying-value="false"
data-audio-player--audio-player-index-value="0"
data-audio-player--audio-player-tracks-value="<%=@tracks %>"
>
  <div class="c-audio-player__controls"
  data-audio-player--audio-player
  
  >
    <div class="c-audio-player__visuals">
      <div class="c-audio-player__visuals-frame">
        <img class="h-round" data-audio-player--audio-player-target="image" src="" width='60px' height='60px' />
      </div>
    </div>
    <div class="c-audio-player__buttons">
      <button
        class="mr-2 h-round c-audio-player__button"
        data-audio-player--audio-player-target="menu"
        data-action="click->audio-player--audio-player#menu"
      >
        <%=image_tag 'options.svg', width: '20px', height: '20px'%>
      </button>
      <button 
        class="mr-2 h-round c-audio-player__button" type="button"
        data-audio-player--audio-player-target="play"
        data-action="click->audio-player--audio-player#playPauseTrack"
      >
        <%=image_tag 'play.svg', width: '20px', height: '20px'%>
        <%=image_tag 'pause.svg', width: '20px', height: '20px', class: 'h-hidden'%>
      </button>
    </div>
  </div>
  <div class="c-audio-player__display">
    <h4 class="h4-mktg h-branded-font" data-audio-player--audio-player-target="title"></h4>
    <p class="f3-mktg" data-audio-player--audio-player-target="artist"></p>
  </div>
  <div class="c-audio-player__cta">
    <a class="btn-mktg btn-enterprise-mktg mr-3" data-audio-player--audio-player-target="link" href="" type="button" target="_parent"></a>
  </div>
</div>

