.c-audio-player{
  /* background: red; */
  /* width: 100%; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 100;
  border-radius: 25px;
  /* position: fixed;
  bottom: 0; */
  /* left: 0; */
}
.c-audio-player__controls{
  width: 20%;
  height: auto;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-audio-player__display{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  /* background: yellow; */
}
.c-audio-player__display h3{
  font-family: 'Quantico', sans-serif;
}
.c-audio-player__display h5{
  font-family: 'Open Sans', sans-serif;
}

.c-audio-player__cta{
  width: 20%;
  height: auto;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-audio-player__visuals{
  display: block;
  margin: 0 auto;
}
.c-audio-player__visuals-frame{
  width: 60px;
  height: 60px;
  /* background: pink; */
}
.c-audio-player__visuals-frame img{
border: 2px solid black;
}

.c-audio-player__button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  /* border: none; */
  border: 2px solid #6f57ff;
  background: none;
  color: #6f57ff;
}
.c-audio-player__button img{
  color: #6f57ff;
}
.c-audio-player__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}